In [1]:
import pandas as pd
import numpy as np

In [2]:
df_torii = pd.read_csv('data/IoT-23_Torii.csv')
df_cc = pd.read_csv('data/IoT-23_C&C.csv')
df_normal = pd.read_csv('data/IoT-23_Normal.csv')

In [3]:
df_torii["label"] = 1
df_cc["label"] = 1
df_normal["label"] = 0

In [4]:
df_torii.head()

,Flow_ID,Src_IP,Src_Port,Dst_IP,Dst_Port,Protocol,Timestamp,Flow_Duration,Tot_Fwd_Pkts,Tot_Bwd_Pkts,...,Active_Std,Active_Max,Active_Min,Idle_Mean,Idle_Std,Idle_Max,Idle_Min,Label,Sub_Cat,label
0,192.168.100.113-66.85.157.90-41174-443-6,192.168.100.113,41174,66.85.157.90,443,6,3/10/2018 9:25,1038667,2,0,...,0,0,0,1.038667e+06,0.000000e+00,1.038667e+06,1.038667e+06,Anomaly,C&C-Torii,1
1,192.168.100.113-66.85.157.90-41176-443-6,192.168.100.113,41176,66.85.157.90,443,6,3/10/2018 9:26,1173584,5,1,...,0,0,0,1.230000e+15,6.880000e+14,1.540000e+15,1.010679e+06,Anomaly,C&C-Torii,1
2,192.168.100.113-66.85.157.90-41176-443-6,192.168.100.113,41176,66.85.157.90,443,6,3/10/2018 9:26,537442,4,5,...,0,0,0,1.540000e+15,2.609220e+05,1.540000e+15,1.540000e+15,Anomaly,C&C-Torii,1
3,192.168.100.113-66.85.157.90-41176-443-6,192.168.100.113,41176,66.85.157.90,443,6,3/10/2018 9:27,250,2,0,...,0,0,0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,Anomaly,C&C-Torii,1
4,192.168.100.113-66.85.157.90-41176-443-6,192.168.100.113,41176,66.85.157.90,443,6,3/10/2018 9:27,247,2,0,...,0,0,0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,Anomaly,C&C-Torii,1

In [5]:
df_cc.head()

,Flow_ID,Src_IP,Src_Port,Dst_IP,Dst_Port,Protocol,Timestamp,Flow_Duration,Tot_Fwd_Pkts,Tot_Bwd_Pkts,...,Active_Std,Active_Max,Active_Min,Idle_Mean,Idle_Std,Idle_Max,Idle_Min,Label,Sub_Cat,label
0,192.168.1.196-104.248.160.24-40089-80-17,192.168.1.196,40089,104.248.160.24,80,17,21/12/2018 11:04:53 PM,90477,4336,0,...,0,0,0,1.545451e+15,2.606520e+04,1.545451e+15,1.545451e+15,Anomaly,C&C,1
1,192.168.1.196-104.248.160.24-40089-80-17,192.168.1.196,40089,104.248.160.24,80,17,21/12/2018 11:04:53 PM,7318582,341045,0,...,0,0,0,1.545451e+15,2.136824e+06,1.545452e+15,1.545451e+15,Anomaly,C&C,1
2,192.168.1.196-104.248.160.24-40089-80-17,192.168.1.196,40089,104.248.160.24,80,17,21/12/2018 11:05:00 PM,7983955,339641,0,...,0,0,0,1.545452e+15,2.367757e+06,1.545452e+15,1.545452e+15,Anomaly,C&C,1
3,192.168.1.196-104.248.160.24-40089-80-17,192.168.1.196,40089,104.248.160.24,80,17,21/12/2018 11:05:08 PM,7608918,341074,0,...,0,0,0,1.545452e+15,2.184399e+06,1.545452e+15,1.545452e+15,Anomaly,C&C,1
4,192.168.1.196-104.248.160.24-40089-80-17,192.168.1.196,40089,104.248.160.24,80,17,21/12/2018 11:05:16 PM,8653598,339608,0,...,0,0,0,1.545452e+15,2.495815e+06,1.545452e+15,1.545452e+15,Anomaly,C&C,1

In [6]:
df_normal.head()

,Flow_ID,Src_IP,Src_Port,Dst_IP,Dst_Port,Protocol,Timestamp,Flow_Duration,Tot_Fwd_Pkts,Tot_Bwd_Pkts,...,Active_Std,Active_Max,Active_Min,Idle_Mean,Idle_Std,Idle_Max,Idle_Min,Label,Sub_Cat,label
0,8.6.0.1-8.0.6.4-0-0-0,8.6.0.1,0,8.0.6.4,0,0,9/5/2018 11:30,108820696,14,0,...,0,0,0,1.530000e+15,36100000.0,1.530000e+15,1.530000e+15,Normal,Normal,0
1,192.168.100.103-147.231.100.5-123-123-17,192.168.100.103,123,147.231.100.5,123,17,9/5/2018 11:30,64001377,2,2,...,0,0,0,1.530000e+15,45300000.0,1.530000e+15,1.530000e+15,Normal,Normal,0
2,192.168.100.103-89.221.214.130-123-123-17,192.168.100.103,123,89.221.214.130,123,17,9/5/2018 11:31,3737,1,1,...,0,0,0,0.000000e+00,0.0,0.000000e+00,0.000000e+00,Normal,Normal,0
3,192.168.100.103-37.187.104.44-123-123-17,192.168.100.103,123,37.187.104.44,123,17,9/5/2018 11:31,26467,1,1,...,0,0,0,0.000000e+00,0.0,0.000000e+00,0.000000e+00,Normal,Normal,0
4,192.168.100.103-213.239.154.12-123-123-17,192.168.100.103,123,213.239.154.12,123,17,9/5/2018 11:32,14733,1,1,...,0,0,0,0.000000e+00,0.0,0.000000e+00,0.000000e+00,Normal,Normal,0

In [7]:
df_attack = pd.concat([df_torii, df_cc], ignore_index=True)
print(df_attack.shape)
print(df_normal.shape)

(57839, 86)
(4313776, 86)

Ensure columns match

In [8]:
print(set(df_attack.columns) - set(df_normal.columns))
print(set(df_normal.columns) - set(df_attack.columns))

set()
set()

In [9]:
df_normal_sampled = df_normal.sample(150_000, random_state=42)
print(df_normal_sampled.shape)

(150000, 86)

In [10]:
df_all = pd.concat([df_attack, df_normal_sampled], ignore_index=True)

In [11]:
df_all = df_all.drop(['Label'], axis=True)

In [12]:
df_all.columns

Index(['Flow_ID', 'Src_IP', 'Src_Port', 'Dst_IP', 'Dst_Port', 'Protocol',
       'Timestamp', 'Flow_Duration', 'Tot_Fwd_Pkts', 'Tot_Bwd_Pkts',
       'TotLen_Fwd_Pkts', 'TotLen_Bwd_Pkts', 'Fwd_Pkt_Len_Max',
       'Fwd_Pkt_Len_Min', 'Fwd_Pkt_Len_Mean', 'Fwd_Pkt_Len_Std',
       'Bwd_Pkt_Len_Max', 'Bwd_Pkt_Len_Min', 'Bwd_Pkt_Len_Mean',
       'Bwd_Pkt_Len_Std', 'Flow_Byts/s', 'Flow_Pkts/s', 'Flow_IAT_Mean',
       'Flow_IAT_Std', 'Flow_IAT_Max', 'Flow_IAT_Min', 'Fwd_IAT_Tot',
       'Fwd_IAT_Mean', 'Fwd_IAT_Std', 'Fwd_IAT_Max', 'Fwd_IAT_Min',
       'Bwd_IAT_Tot', 'Bwd_IAT_Mean', 'Bwd_IAT_Std', 'Bwd_IAT_Max',
       'Bwd_IAT_Min', 'Fwd_PSH_Flags', 'Bwd_PSH_Flags', 'Fwd_URG_Flags',
       'Bwd_URG_Flags', 'Fwd_Header_Len', 'Bwd_Header_Len', 'Fwd_Pkts/s',
       'Bwd_Pkts/s', 'Pkt_Len_Min', 'Pkt_Len_Max', 'Pkt_Len_Mean',
       'Pkt_Len_Std', 'Pkt_Len_Var', 'FIN_Flag_Cnt', 'SYN_Flag_Cnt',
       'RST_Flag_Cnt', 'PSH_Flag_Cnt', 'ACK_Flag_Cnt', 'URG_Flag_Cnt',
       'CWE_Flag_Count', 'ECE_Flag_Cnt', 'Down/Up_Ratio', 'Pkt_Size_Avg',
       'Fwd_Seg_Size_Avg', 'Bwd_Seg_Size_Avg', 'Fwd_Byts/b_Avg',
       'Fwd_Pkts/b_Avg', 'Fwd_Blk_Rate_Avg', 'Bwd_Byts/b_Avg',
       'Bwd_Pkts/b_Avg', 'Bwd_Blk_Rate_Avg', 'Subflow_Fwd_Pkts',
       'Subflow_Fwd_Byts', 'Subflow_Bwd_Pkts', 'Subflow_Bwd_Byts',
       'Init_Fwd_Win_Byts', 'Init_Bwd_Win_Byts', 'Fwd_Act_Data_Pkts',
       'Fwd_Seg_Size_Min', 'Active_Mean', 'Active_Std', 'Active_Max',
       'Active_Min', 'Idle_Mean', 'Idle_Std', 'Idle_Max', 'Idle_Min',
       'Sub_Cat', 'label'],
      dtype='object')

In [19]:
df_selected = df_all[['Flow_Duration', 'Tot_Fwd_Pkts', 'Tot_Bwd_Pkts', 'Pkt_Len_Mean', 'Flow_Byts/s', 'ACK_Flag_Cnt', 'Init_Fwd_Win_Byts', 'SYN_Flag_Cnt', 'label']]
df_selected

,Flow_Duration,Tot_Fwd_Pkts,Tot_Bwd_Pkts,Pkt_Len_Mean,Flow_Byts/s,ACK_Flag_Cnt,Init_Fwd_Win_Byts,SYN_Flag_Cnt,label
0,1038667,2,0,0.000000,0.000000,0,29200,2,1
1,1173584,5,1,561.714286,3350.420592,4,29200,3,1
2,537442,4,5,393.200000,7316.138300,9,137,0,1
3,250,2,0,0.000000,0.000000,2,183,0,1
4,247,2,0,0.000000,0.000000,2,183,0,1
...,...,...,...,...,...,...,...,...,...
207834,7201382,4,0,0.000000,0.000000,0,29200,4,0
207835,7212649,4,0,0.000000,0.000000,0,29200,4,0
207836,7230642,4,0,0.000000,0.000000,0,29200,4,0
207837,7225886,4,0,0.000000,0.000000,0,29200,4,0
207838,7171161,4,0,0.000000,0.000000,0,29200,4,0

In [21]:
df_selected["syn_ratio"] = df_selected["SYN_Flag_Cnt"] / (df_selected["Tot_Fwd_Pkts"] + df_selected["Tot_Bwd_Pkts"])
df_selected

C:\Users\vinib\AppData\Local\Temp\ipykernel_30056\1688406943.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_selected["syn_ratio"] = df_selected["SYN_Flag_Cnt"] / (df_selected["Tot_Fwd_Pkts"] + df_selected["Tot_Bwd_Pkts"])

,Flow_Duration,Tot_Fwd_Pkts,Tot_Bwd_Pkts,Pkt_Len_Mean,Flow_Byts/s,ACK_Flag_Cnt,Init_Fwd_Win_Byts,SYN_Flag_Cnt,label,syn_ratio
0,1038667,2,0,0.000000,0.000000,0,29200,2,1,1.0
1,1173584,5,1,561.714286,3350.420592,4,29200,3,1,0.5
2,537442,4,5,393.200000,7316.138300,9,137,0,1,0.0
3,250,2,0,0.000000,0.000000,2,183,0,1,0.0
4,247,2,0,0.000000,0.000000,2,183,0,1,0.0
...,...,...,...,...,...,...,...,...,...,...
207834,7201382,4,0,0.000000,0.000000,0,29200,4,0,1.0
207835,7212649,4,0,0.000000,0.000000,0,29200,4,0,1.0
207836,7230642,4,0,0.000000,0.000000,0,29200,4,0,1.0
207837,7225886,4,0,0.000000,0.000000,0,29200,4,0,1.0
207838,7171161,4,0,0.000000,0.000000,0,29200,4,0,1.0

In [ ]:
df_selected.to_csv('../Selected_features.csv')