In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../Selected_features.csv')

In [3]:
df.head()

,Unnamed: 0,Flow_Duration,Tot_Fwd_Pkts,Tot_Bwd_Pkts,Pkt_Len_Mean,Flow_Byts/s,ACK_Flag_Cnt,Init_Fwd_Win_Byts,SYN_Flag_Cnt,label,syn_ratio
0,0,1038667,2,0,0.000000,0.000000,0,29200,2,1,1.0
1,1,1173584,5,1,561.714286,3350.420592,4,29200,3,1,0.5
2,2,537442,4,5,393.200000,7316.138300,9,137,0,1,0.0
3,3,250,2,0,0.000000,0.000000,2,183,0,1,0.0
4,4,247,2,0,0.000000,0.000000,2,183,0,1,0.0