## Putting the Data into Bins

In [4]:
import pandas as pd
import numpy as np

In [5]:
df_rl = pd.read_csv('../data/preprocessed/Selected_features.csv')

In [6]:
len(df_rl)

207839

In [7]:
df_rl.head()

,Src_IP,Flow_Duration,Tot_Fwd_Pkts,Tot_Bwd_Pkts,Pkt_Len_Mean,Flow_Byts/s,ACK_Flag_Cnt,Init_Fwd_Win_Byts,SYN_Flag_Cnt,label,syn_ratio
0,192.168.100.113,1038667,2,0,0.000000,0.000000,0,29200,2,1,1.0
1,192.168.100.113,1173584,5,1,561.714286,3350.420592,4,29200,3,1,0.5
2,192.168.100.113,537442,4,5,393.200000,7316.138300,9,137,0,1,0.0
3,192.168.100.113,250,2,0,0.000000,0.000000,2,183,0,1,0.0
4,192.168.100.113,247,2,0,0.000000,0.000000,2,183,0,1,0.0

In [8]:
df_rl.columns

Index(['Src_IP', 'Flow_Duration', 'Tot_Fwd_Pkts', 'Tot_Bwd_Pkts',
       'Pkt_Len_Mean', 'Flow_Byts/s', 'ACK_Flag_Cnt', 'Init_Fwd_Win_Byts',
       'SYN_Flag_Cnt', 'label', 'syn_ratio'],
      dtype='object')

In [9]:
df_rl[[
    "Flow_Duration", "Tot_Fwd_Pkts", "Tot_Bwd_Pkts",
    "Pkt_Len_Mean", "Flow_Byts/s", "ACK_Flag_Cnt",
    "Init_Fwd_Win_Byts", "SYN_Flag_Cnt", "syn_ratio"
]].describe()

,Flow_Duration,Tot_Fwd_Pkts,Tot_Bwd_Pkts,Pkt_Len_Mean,Flow_Byts/s,ACK_Flag_Cnt,Init_Fwd_Win_Byts,SYN_Flag_Cnt,syn_ratio
count,2.078390e+05,207839.000000,207839.000000,207839.000000,2.078380e+05,207839.000000,207839.000000,207839.000000,207839.000000
mean,5.837404e+06,23.838529,0.212222,1.902292,3.631781e+04,0.728068,22635.372995,2.991234,0.750180
std,6.679984e+06,2600.970567,1.457202,20.967601,6.978005e+05,2.877529,12101.417918,1.748331,0.424147
min,0.000000e+00,1.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,1.051900e+06,2.000000,0.000000,0.000000,0.000000e+00,0.000000,29200.000000,2.000000,0.500000
50%,7.186406e+06,4.000000,0.000000,0.000000,0.000000e+00,0.000000,29200.000000,4.000000,1.000000
75%,7.215634e+06,4.000000,0.000000,0.000000,0.000000e+00,1.000000,29200.000000,4.000000,1.000000
max,1.199998e+08,341279.000000,385.000000,1216.666667,6.000000e+07,769.000000,64998.000000,14.000000,1.000000

In [10]:
df_rl["Flow_Duration_bin"] = pd.qcut(
    df_rl["Flow_Duration"],
    q=5,
    labels=False,
    duplicates="drop"
)

In [11]:
df_rl["Tot_Fwd_Pkts_bin"] = pd.cut(
    df_rl["Tot_Fwd_Pkts"],
    bins=[-1, 1, 3, 10, 100, 1000, float("inf")],
    labels=False
)

In [12]:
df_rl["Tot_Bwd_Pkts_bin"] = pd.cut(
    df_rl["Tot_Bwd_Pkts"],
    bins=[-1, 0, 1, 5, 50, float("inf")],
    labels=False
)

In [13]:
df_rl["Pkt_Len_Mean_bin"] = pd.cut(
    df_rl["Pkt_Len_Mean"],
    bins=[-0.1, 0.1, 200, 800, float("inf")],
    labels=False
)

In [14]:
df_rl["Flow_Bytes_s_bin"] = pd.cut(
    df_rl["Flow_Byts/s"],
    bins=[-1, 1, 1000, 10000, 1000000, float("inf")],
    labels=False
)

In [15]:
df_rl["ACK_Flag_Cnt_bin"] = pd.cut(
    df_rl["ACK_Flag_Cnt"],
    bins=[-1, 0, 1, 3, 10, float("inf")],
    labels=False
)

In [16]:
df_rl["Init_Fwd_Win_Byts_bin"] = pd.qcut(
    df_rl["Init_Fwd_Win_Byts"],
    q=5,
    labels=False,
    duplicates="drop"
)

In [17]:
df_rl["SYN_Flag_Cnt_bin"] = pd.cut(
    df_rl["SYN_Flag_Cnt"],
    bins=[-1, 0, 1, 3, 5, 10, float("inf")],
    labels=False
)

In [18]:
df_rl["syn_ratio_bin"] = pd.cut(
    df_rl["syn_ratio"],
    bins=[-0.01, 0.01, 0.5, 0.9, 1.0, 1.01],
    labels=False
)

In [19]:
df_env = df_rl[
    [
        "Src_IP",
        "Flow_Byts/s",
        "Flow_Duration_bin",
        "Tot_Fwd_Pkts_bin",
        "Tot_Bwd_Pkts_bin",
        "Pkt_Len_Mean_bin",
        "Flow_Bytes_s_bin",
        "ACK_Flag_Cnt_bin",
        "Init_Fwd_Win_Byts_bin",
        "SYN_Flag_Cnt_bin",
        "syn_ratio_bin",
        "label"
    ]
].reset_index(drop=True)

In [20]:
df_env.head()

,Src_IP,Flow_Byts/s,Flow_Duration_bin,Tot_Fwd_Pkts_bin,Tot_Bwd_Pkts_bin,Pkt_Len_Mean_bin,Flow_Bytes_s_bin,ACK_Flag_Cnt_bin,Init_Fwd_Win_Byts_bin,SYN_Flag_Cnt_bin,syn_ratio_bin,label
0,192.168.100.113,0.000000,1,1,0,0,0.0,0,1,2,3,1
1,192.168.100.113,3350.420592,1,2,1,2,2.0,3,1,2,1,1
2,192.168.100.113,7316.138300,1,2,2,2,2.0,3,0,0,0,1
3,192.168.100.113,0.000000,0,1,0,0,0.0,2,0,0,0,1
4,192.168.100.113,0.000000,0,1,0,0,0.0,2,0,0,0,1

In [21]:
df_env.nunique()

Src_IP                    415
Flow_Byts/s              9780
Flow_Duration_bin           5
Tot_Fwd_Pkts_bin            6
Tot_Bwd_Pkts_bin            5
Pkt_Len_Mean_bin            4
Flow_Bytes_s_bin            5
ACK_Flag_Cnt_bin            5
Init_Fwd_Win_Byts_bin       3
SYN_Flag_Cnt_bin            6
syn_ratio_bin               4
label                       2
dtype: int64

In [22]:
len(df_env)

207839

In [23]:
df_env.dropna()

,Src_IP,Flow_Byts/s,Flow_Duration_bin,Tot_Fwd_Pkts_bin,Tot_Bwd_Pkts_bin,Pkt_Len_Mean_bin,Flow_Bytes_s_bin,ACK_Flag_Cnt_bin,Init_Fwd_Win_Byts_bin,SYN_Flag_Cnt_bin,syn_ratio_bin,label
0,192.168.100.113,0.000000,1,1,0,0,0.0,0,1,2,3,1
1,192.168.100.113,3350.420592,1,2,1,2,2.0,3,1,2,1,1
2,192.168.100.113,7316.138300,1,2,2,2,2.0,3,0,0,0,1
3,192.168.100.113,0.000000,0,1,0,0,0.0,2,0,0,0,1
4,192.168.100.113,0.000000,0,1,0,0,0.0,2,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
207834,192.168.1.196,0.000000,3,2,0,0,0.0,0,1,3,3,0
207835,192.168.1.196,0.000000,3,2,0,0,0.0,0,1,3,3,0
207836,192.168.1.196,0.000000,4,2,0,0,0.0,0,1,3,3,0
207837,192.168.1.196,0.000000,4,2,0,0,0.0,0,1,3,3,0
207838,192.168.1.196,0.000000,1,2,0,0,0.0,0,1,3,3,0

In [25]:
bin_cols = [
    "Flow_Duration_bin",
    "Tot_Fwd_Pkts_bin",
    "Tot_Bwd_Pkts_bin",
    "Pkt_Len_Mean_bin",
    "Flow_Bytes_s_bin",
    "ACK_Flag_Cnt_bin",
    "Init_Fwd_Win_Byts_bin",
    "SYN_Flag_Cnt_bin",
    "syn_ratio_bin",
]

df_env = df_env.dropna(subset=bin_cols + ["label"]).reset_index(drop=True)

In [26]:
len(df_env)

207838

In [28]:
df_env.to_csv("../data/preprocessed/Binerized_features.csv", index=False)